In [10]:
import pandas as pd 
import numpy as np 
import os 
import fitz

In [11]:
folder = "D:\\DataSet"
files = os.listdir(folder)

In [12]:
resumes = []
files.sort()

In [13]:
for file in files:
    pdf_path = os.path.join(folder, file)
    text = ""
    doc = fitz.open(pdf_path)
    for page in doc:
        text += page.get_text("text") + "\n"
    doc.close()
    resumes.append(text.strip())

df = pd.DataFrame({"resume_text" : resumes})
df.to_csv("resume_dataset.csv", index = False, encoding= "utf-8")

print("CSV created")

CSV created

In [35]:
jobs = []

In [14]:
df = pd.read_csv("resume_dataset.csv")

In [76]:
new_df = pd.DataFrame({"jobs" : jobs})

In [90]:
new_df.to_csv("jobs_dataset.csv", index=  False, encoding = "utf-8")

In [92]:
jobs_df = pd.read_csv("jobs_dataset.csv")

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   resume_text  130 non-null    object
dtypes: object(1)
memory usage: 1.2+ KB

In [94]:

resumes = pd.read_csv("resume_dataset.csv")   # has column: resume_text
jobs = pd.read_csv("jobs_dataset.csv")         # has column: job_description

# Add keys to perform cartesian product
resumes["key"] = 1
jobs["key"] = 1

# Cartesian product (cross join)
combined = pd.merge(resumes, jobs, on="key").drop("key", axis=1)

# Save to CSV
combined.to_csv("resume_job_pairs.csv", index=False, encoding="utf-8")

print(f"✅ Combined dataset shape: {combined.shape}")

✅ Combined dataset shape: (1904, 2)

In [95]:
final_df = pd.read_csv("resume_job_pairs.csv")

In [96]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   resume_text  1820 non-null   object
 1   jobs         1904 non-null   object
dtypes: object(2)
memory usage: 29.9+ KB

In [99]:
final_df.isnull().any()

resume_text     True
jobs           False
dtype: bool

In [100]:
final_df = final_df.dropna()

In [101]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1820 entries, 0 to 1903
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   resume_text  1820 non-null   object
 1   jobs         1820 non-null   object
dtypes: object(2)
memory usage: 42.7+ KB

In [104]:
final_df.isnull().any()

resume_text    False
jobs           False
dtype: bool

In [105]:
final_df.to_csv("final_dataset.csv", index=  False, encoding = "utf-8")